<article class = "panel">
	<header>
		<h3>This is where the subject will go</h3>
	</header>

  	<p><%= blogpost.content %></p>

  	<footer class = "text-muted">
  		<p>
	  		<small>Posted <%= time_ago_in_words(blogpost.created_at) %> ago.
	  		</small>

	    	<span class= "byline">
	    		<small>
	    			By <%= link_to blogpost.user.name, about_path %>
	    		</small>
	    	</span>
	    </p>
  	</footer>
</article>