<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img data-src="holder.js/1280x300/auto/#252b37:#252b37" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Dragons Bridge</h1>
              <p>A short story of love, worry and beautiful nature.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/1280x300/auto/#3a4a57:#3a4a57" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Glass Mirrors</h1>
              <p>When a young girl's friend is stolen away, she must travel a strange land to rescue him.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/1280x300/auto/#617f89:#617f89" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Works in progress</h1>
              <p>An assortment of short stories.</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->