<%= render 'carousel' %>

<div class="container mainpage">
	<div class="row">
		<div class="col-lg-8">
			<h2>Blog</h2>
			<%= render @blogposts %>
		</div>
		<div class="col-lg-4">
			<%= render '/layouts/booklist' %>
		</div>
	</div>
</div>

