<% provide(:title, 'Resume') %>
<div class = "container resume">
	<h1>Breanna Bader</h1>
	<h2>Work Experience</h2>
	<h3><em>Blizzard Entertainment</em></h3>

	<div class = "container">
		<h3>Senior Game Master<span style="float: right;">2007-Present</span></h3>
		<p>Supervise teams each consisting of between eighteen and thirty customer support agents of varied tier level and with diverse skill backgrounds. Facilitate communication between several levels of management, and across departments.</p>
		<ul>
			<li>Create individualized coaching packages using data pulled from internal OLAP cube, personalized attention given to each agent’s successes and struggles, and dynamic career development plans.</li>
			<li>Daily utilization of Microsoft Office tools such as Outlook, Excel and One Note, SCRUM project/product development framework, Liveperson webchat interface, and internal employee management and contact management tools and systems.</li>
			<li>Direct or participate in daily standup huddles as well as weekly one on one and monthly team meetings.</li>
			<li>Compile and deliver post mortems and other documentation on team and agent performance on a weekly, monthly and quarterly basis.</li>
			<li>Crisis management for both customers and employees during sensitive or highly volatile situations.</li>
		</ul>
		<h3>Publishing Assistant</h3>
		<p>Collaborated with a highly creative team, as well as multiple departments and development teams, to expand extended universe content and deliver a transmedia narrative experience.</p>
		<ul>
			<li>Writing projects included FAQ content for product release press tour events, flavor copy for licensed products and in game lore, product reviews for public relations/marketing departments, fictional backgrounds produced for intellectual property characters and stories for internal development wiki, short story pitches, assisting with feedback on external submissions, brainstorming future projects such as Project Blackstone and Shadows of the Horde novel.</li>
			<li>Managed organizational tasks such as converting PDFs of graphic novels for internal library to searchable format, researching and compiling visual references for external artists, preparing and scanning pages to be sent to outside vendor (DC Comics) for publishing, gauging and compiling data on community response to future products, preparing music cues for digital adaption of licensed books, set up visiting authors at temporary workstations.</li>
		</ul>
		<h3>Quality Control</h3>
		<p>Responsible for analyzing and critiquing the written communication for multiple teams in order to help drive customer loyalty, raise satisfaction scores, and improve performance.</p>
	</div>

	<h3>Apple Inc. (Volt) <span style="float: right;">2005 - 2007</span></h3>
	<div class = "container"> 
		<h3>iTunes Store Customer Support</h3>
		<p>Responsible for addressing Emails from iTunes store customers while building skills in tailoring pre- formatted Email responses and investigating complex customer issues.</p>
	</div>

	<h3>Serengeti Systems Inc. <span style="float: right;">2006</span></h3> 
	<div class="container">
		<h3>Office Manager</h3>
		<p>Served as primary intermediary between customers, sales department, and developers. Required independent work and research, self motivation and organization, and a propensity for extremely rapid acquisition of new concepts and skills.</p>
	</div>

	<h2>Education</h2>
	<h3>Austin Community College – Austin, TX</h3>
	<ul>
		<li>Worked towards multiple majors in Philosophy, Comparative Religion and Psychology.</li>
		<li>University of Mary-Hardin Baylor – Belton, TX</li>
		<li>Focus on Comparative Religion and Psychology</li>
	</ul>
</div>