<% provide(:title, 'Resume') %>

<h1>Headline Text</h1>

<h2>B-Head (Or Sub-Head) Text</h2>
<div class=container>
	<body>Nav Item 1 | Nav Item 2 | Nav Item 3<br>
<br>
This is body copy. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer auctor nulla in purus cursus, et malesuada augue commodo. Duis turpis sem, egestas in nunc nec, laoreet porta arcu. Nam facilisis condimentum velit et placerat. Mauris non felis id nisl tincidunt pretium molestie quis nulla. Nam vehicula faucibus metus non euismod. Nunc sed augue ullamcorper dolor laoreet consequat. Morbi adipiscing elit hendrerit ipsum gravida dictum. Curabitur laoreet placerat turpis ut dictum. Integer tincidunt gravida blandit. Quisque odio diam, faucibus id velit et, dictum iaculis magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed placerat semper dignissim. In rutrum euismod vulputate. Donec id orci id risus faucibus lobortis ut vel mauris. Praesent fermentum ultrices orci sed tincidunt. Mauris ullamcorper, urna quis elementum adipiscing, metus nisi accumsan tortor, eu egestas lectus felis vel tortor.<br>
<br>
<small>Byline Text on Feb 13ths, 2014</small></body></div>