@import "bootstrap";

/* Variables */

$breBlueLighter: #b5dddf;
$breBlueLight: #7fabae;
$breBlue: #617f89;
$breBlueDark: #3a4a57;
$breBlueDarker: #252b37;

/* Universal */

Body {
  background-color: $breBlueDarker;
  color: $breBlueLighter;
}

h1 h2 h3 h4 h5 h6 {
  color: $breBlueLighter;
}

/* Typography */

h1 h2 {

}

h2 {
  text-align: center;
  font-size: 1.5em;
}

html body {
  font-family: "Times New Roman", Times, serif;
}


/* Jumbotron */

.jumbotron {
  background-color: $breBlue;
}

#myCarousel {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}


/* Nav Bar */

.navbar-default {
  background-color: $breBlueDark;
  padding: 30px 30px;
  margin-bottom: 0;
}

/* Blog */

.panel {
  background-color: $breBlueDark;
}

/* Footer */

.footer {
  padding: 20px 20px;

}