@import "bootstrap";

/* Variables */

$breBlueLighter: #b5dddf;
$breBlueLight: #7fabae;
$breBlue: #617f89;
$breBlueDark: #3a4a57;
$breBlueDarker: #252b37;

/* Universal */

Body {
  background-color: $breBlueDarker;
  color: $breBlueLighter;
}

h1 h2 h3 h4 h5 h6 {
  color: $breBlueLighter;
}

/* Jumbotron */

.jumbotron {
  background-color: $breBlue;
}

/* Nav Bar */

.navbar-default {
  background-color: $breBlueDark;
}

/* Blog */

.panel {
  background-color: $breBlueDark;
}